*{

  margin: 0;
  padding: 0;

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * common 
 */
html {
  -webkit-font-smoothing: antialiazed;
}
body {
  font: normal normal normal 14px/1.75 Glegoo, Georgia, serif;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: normal normal normal 16px/1.75 Glegoo, Georgia, serif;
  color: #6c6c6c;
}
a {
  color: #908f8f;
  text-decoration: none;
}
a:hover {
  color: #99cccc;c
}
.visuallyhidden {
  position: absolute;
  left: -9999em;
}
strong {
  font-weight: bold;
}
p {
  margin: 0 0 16px 0;
  color: #000;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}

.hidden {
  display: none !important;
}

.header-logo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-logo a {
  display: block;
  width: 192px;
  height: 63px;
  background: url(../img/logo.png) no-repeat;
}

.header-logo span {
  display: none;
}

.right-corner {
  position: absolute;
  top: 0;
  right: 0;
}

.right-corner section {
  float: left;
  margin-left: 20px;
}

.right-corner ul {

}

.right-corner ul li {
  margin: 0;
  padding: 5px 0 0;
}

.right-corner ul li a {
  font-size: 12px;
  font-family: Glegoo, Georgia, serif;
  color: #3a3a3a;
}

.right-corner ul li a:hover {
  color: #99cccc;
}

.right-corner input{

  /*display: block;*/
  float: right;

}

.btn {
  background: #ebebeb;
  color: #3a3a3a;
  border: none;
  text-align: center;
  font-family: Glegoo, Georgia, serif;
  font-size: 10px;
  text-transform: lowercase;
}
.btn:hover {
  background: #d2f8ec;
}
.btn.btn-reversed {
  background: #e8ff8c;
}
.btn.btn-reversed:hover {
  background: #d2f8ec;
}
/**
 * some default table settings 
 */
th {
  font-size: 12px;
  color: #908f8f;
}
td {
  color: #6c6c6c;
  font-size: 12px;
}
/**
 * some default form elements
 */
input.btn {
  padding: 7px;
}

#page {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

/**
 * collection 
 */
ul.product-grid {
  width: 1000px;
}
ul.product-grid li {
  width: 25%;
  height: 375px;
  float: left;
  color: #404040;
  font-size: 13px;
  overflow: hidden;
  text-align: center;
}
ul.product-grid li h2,
ul.product-grid li a {
  font-size: 13px;
  color: #404040;
}
li .image-holder {
  width: 240px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}
ul.product-grid li img {
  margin: 0 auto 16px;
  max-width: 240px;
  max-height: 300px;
}
ul.product-grid li a:hover h2 {
  color: #000;
}
ul.product-grid h2 {
  padding: 0 5px;
  text-align: center;
  font-family: Glegoo, Georgia, serif;
  text-transform: lowercase;
}
ul.product-grid p {
  padding: 0 5px;
  text-align: center;
}

/**
 * Detail
 */
 #product-image {
  width: 450px;
  position: relative;
  float: left;
}

#product-image img {
  max-width: 100%;
}

#product-information {
  width: 500px;
  float: right;
}

.product-title, #product-pricing {
  font-size: 20px;
}

.product-title {
  color: #6c6c6c;
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  line-height: 2;
  text-transform: uppercase;
}

#product-pricing {
  margin-bottom: 15px;
}

#product-pricing .price {
  margin: 0 0 1em 0;
  color: #666;
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 26px;
  line-height: 26px;
}

#product-pricing #add-to-cart {
  display: inline;
  width: 118px;
  margin: -8px 0 0;
  padding: 8px 0;
  text-align: center;
  font-size: 11px;
  line-height: 1;
  background: #ebebeb;
  font-family: Glegoo, Georgia, serif;
  border: 1px solid #ebebeb;
  text-transform: lowercase;
}

#product-pricing #add-to-cart:hover {
  background: #e8ff8c;
  border: 1px solid #e8ff8c;
}

#product-description {
  margin: 0 0 36px;
  font-size: 13px;
}

.more-images {
  border-top: 1px solid #ccc;
}

.more-images h1 {
  margin: 18px 0;
  color: #666;
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.more-images {
  overflow: auto;
}

.more-images ul li {
  float: left;
  margin: 0 10px 0 0;
}

.more-images ul li img {
  max-height: 160px;
}

/* CART */
.cart {
  width: 1000px;
  overflow: visible;
}

.cart img {
  vertical-align: middle;
}

.cart tr {
  border-bottom: 4px solid #f3f3f3;
}

.cart tbody td {
  padding: 5px 0;
}

.cart td {
  color: #6c6c6c;
  font-size: 18px;
  font-family: Quicksand, Helvetica, Arial, sans-serif;
}

.cart td.product-image {
  width: 90px;
  text-align: center;
}

.cart td.product-image img {
  max-width: 90px;
  max-height: 90px;
}

.cart .product-description {
  padding-top: 25px;
  vertical-align: top;;
}

.cart td.product-description {
  width: 462px;
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
}

.cart td.price {
  width: 78px;
  text-align: center;
}

.cart td.quantity {
  width: 185px;
  text-align: center;
}

.cart td.quantity input {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  font-family: Quicksand, Helvetica, Arial, sans-serif;
}

.cart td.remove-item {
  width: 89px;
  text-align: center;
}

.cart td.total {
  width: 96px;
  text-align: right;
}

a.remove-from-cart {
  width: 63px;
  padding: 7px 0;
  display: block;
  font-size: 10px;
  line-height: 1;
  color: #3a3a3a;
  background: #ebebeb;
  margin: 0 auto;
  font-family: Glegoo, Georgia, serif;
}

.cart .column.one {
  width: 400px;
  float: left;
}

.cart .column.two {
  width: 300px;
  min-height: 200px;
  float: right;
  text-align: right;
  position: relative;
}

p.order-total {
  text-align: right;
  font-size: 23px;
  text-transform: uppercase;
  color: #5f5f5f;
  font-family: Helvetica, Arial, sans-serif;
}

p.order-total span {
  margin: 0 24px 0 0;
}

input#update-cart {
  top: 60px;
}

input#checkout {
  top: 90px;
}

.cart .column.two input {
  padding: 7px 0;
  position: absolute;
  right: 0;
  width: 109px;
}

#checkout-addnote {
  margin-top: 3px;
}

label.note {
  font-size: 12px;
  display: block;
}

textarea#note {
  width: 354px;
  height: 58px;
  padding: 6px;
  background: #efefef;
  border: none;
}

.gift-receipt {
  width: 398px;
  margin-top: 3px;
  display: block;
}

label.gift-r {
  font-size: 12px;
  margin-left: 3px;
}

.account h1{

  width: 100%;
  text-align: center;

}

.account li{

  width: 100%;
  text-align: center;

}

.account li p{


  font-size: 30px;


}